body{
    display: flex;
    justify-content: center;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.container{
    width: 50vw;
    height: 95vh;
    border: 1px  solid black;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container2{
    width: 15vw;
    height: 95vh;
    border: 1px  solid black;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 10vh;
    height: 10vh;
    border: 1px solid blue;
}

.objetivo{
    background-color: green;
}

.j1{
    background-color: red;
    border-radius: 50%;
}

.j2{
    background-color: blue;
    border-radius: 50%;
}

.puntos{
    display: flex;
    border: 1px solid black;
    width: 50px;
    height: 20px;
    justify-content: center;
}